<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Astrological Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

</head>

<body>
    <div class="container">
        <h1>Adding Planet</h1>
        <hr>
        <h2></h2>
        <form action="#" th:action="@{/savePlanet}" th:object="${planet}" method="POST">
        
            <input type="text" th:field="*{planetName}" placeholder=" Name" class="form-control mb-4 col-4">

            <input type="text" th:field="*{planetObjectsize}" placeholder="Size" class="form-control mb-4 col-4">
            
            <input type="text" th:field="*{planetObjectmass}" placeholder="Mass" class="form-control mb-4 col-4">
            
            
            <input type="text" th:field="*{planetScore}" placeholder="Score" class="form-control mb-4 col-4">
            
            
             <input type="text" th:field="*{planetDescription}" placeholder="Description" class="form-control mb-4 col-4">
            
            <div class="form-group search" >
              <div class="container">
	            <div class="row">
	              <select name="discovers" class="form-control select2 form-control mb-4 col-4" >
	               <option th:each="discover : ${discovers}" th:value="${discover.discoverId}" th:utext="${discover.discoverPerson.firstName}"/> 
	              </select>
	            </div>
			    </div>
               </div>
               
               
            <div class="form-group search" >
              <div class="container">
	            <div class="row">
	              <select name="solarS" class="form-control select2 form-control mb-4 col-4" >
	               <option th:each="solarS : ${solarS}" th:value="${solarS.solarSId}" th:utext="${solarS.solarSName}"/> 
	              </select>
	            </div>
			    </div>
               </div>
            <button type="submit" class="btn btn-info col-2"> Save Planet</button>
        </form>
        <hr>

        <a th:href="@{/}"> Back to Home</a>
    </div>
</body>

</html>